name: deploy

on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed
  workflow_dispatch:
  
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: SSH to server and deploy
        uses: appleboy/ssh-action@823bd89e131d8d508129f9443cad5855e9ba96f0
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          password: ${{ secrets.SERVER_PASSWORD }}
          port: 22
          script: |
            cd /deployment/
            docker compose pull
            docker compose up -d
