name: Super-Linter

on:
  pull_request:
    branches: [main, development, qa]
    paths:
      - '**.js'
      - '**.java'
      - '**.html'
      - '**.css'
    types: [opened, synchronize, reopened]
  push:
    branches: [development]

permissions:
  contents: read
  pull-requests: write
  statuses: write
  checks: write

jobs:
  super-linter:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run Super-Linter
        uses: github/super-linter@v5
        env:
          VALIDATE_ALL_CODEBASE: false
          DEFAULT_BRANCH: development
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          OUTPUT_DETAILS: detailed
          OUTPUT_FILE: super-linter-results.txt

      - name: Upload Linter Report
        uses: actions/upload-artifact@v4
        with:
          name: super-linter-report
          path: super-linter-results.txt