name: Update Maven Dependencies

on:
  schedule:
    - cron: "0 0,12 * * *"
  workflow_dispatch:

jobs:
  update-deps:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 21

      - name: Cache Maven dependencies
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven-

      - name: Update Maven dependencies
        run: mvn versions:use-latest-releases versions:commit

      - name: Commit and push updates as personal account
        run: |
          git config user.name "${{ secrets.GIT_UNAME }}"
          git config user.email "${{ secrets.GIT_EMAIL }}"
          git add pom.xml
          git commit -m "Update Maven dependencies" || echo "No changes to commit"
          git push https://${{ secrets.GIT_USERNAME }}:${{ secrets.PAT_TOKEN }}@github.com/${{ secrets.GIT_USERNAME }}/YOUR_REPO.git HEAD:main
